# Игнорировать файлы в папке test-results
test-results/

# Игнорировать файлы в папке playwright-report
playwright-report/

# Игнорировать все файлы .log
*.log

# Игнорировать папку node_modules
node_modules/